---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/members/beatriz"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Beatriz Meneses | Graphics For Good</title>
    <meta type="description" content="< BackBeatriz Menesesbmeneses27@dtechhs.orgBay AreaBeatriz Meneses is a Sophmore at Design Tech High School in Redwood City and a Member of Graphics for Good. She is an avid reader of anything fantasy and hopes to create her own fantasy world someday. In addition  she loves to hone her art skills and hike in the wilderness.PortfolioPreviousNext" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>