---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/members/juhi"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<title>Graphics for Good</title>
<meta http-equiv="refresh" content={`1; url=${newSite}`}>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>