---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/members/shikha"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Shikha Iyer | Graphics For Good</title>
    <meta type="description" content="< BackShikha Iyersiyer25@dtechhs.orgBay AreaShikha Iyer is a Senior at Design Tech High School in Redwood City and a Member of Graphics for Good. When she's not working on schoolwork or club prep  she's drawing  reading  or listening to Taylor Swift music on blast.PortfolioPreviousNext" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>