---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/mission"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Mission | Graphics For Good</title>
    <meta type="description" content="Our MissionOur mission is to help create change in the world through design. We understand the importance of design in the non-profit sector  and we want to use our skills and resources to support organizations that are making a positive impact in our community and beyond. We strive to provide free design help for non-profits that support a wide range of causes  from environmental protection to healthcare  education and more. Our team of experienced designers are passionate about using their skills for good and are dedicated to working closely with non-profit organizations to create graphics and designs that accurately reflect their mission and message. We believe that by providing high-quality design at no cost  we can empower non-profits to more effectively communicate their message and achieve their goals  ultimately making a greater impact in the world. As Shikha Iyer  the club founder  said: "We strive to provide free design help for non-profits that support a wide range of causes." We invite non-profit organizations to reach out to us  we are ready to help you with all your design needs."Interested in partnering with us?Get in Touch500 Terry Francine St.  San Francisco  CA 94158123-456-7890info@mysite.comFirst NameLast NameEmailMessageSendThanks for submitting!Let’s Work TogetherGet in touch so we can start working together.First NameLast NameEmailMessageSendThanks for submitting!" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>