---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/videos"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Videos | Graphics For Good</title>
    <meta type="description" content="Video Channel NameSign inVideo Channel NamePlay VideoShareWhole ChannelThis VideoFacebookTwitterPinterestTumblrCopy LinkLink CopiedSearch video...All CategoriesAll CategoriesCategoriesNow PlayingVideo Title00:23Play VideoNow PlayingVideo Title00:32Play VideoNow PlayingVideo Title00:29Play VideoNow PlayingVideo Title00:31Play Video" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>