---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/work/amphibian-foundation-layout"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <title>Graphics for Good</title>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Amphibian Foundation Layout | Graphics For Good</title>
    <meta type="description" content="Amphibian Foundation LayoutClient:Amphibian FoundationYear:23-24Designer 1:LorelaiDesigner 2:Isabelle​PreviousNext" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>