---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/work/amphibian-foundation-layout"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<title>Graphics for Good</title>
<meta http-equiv="refresh" content={`1; url=${newSite}`}>
<body set:html={scriptTag} />
<script>
    var path = location.pathname;
    if (path.startsWith('/')) path = path.slice(1)
    if (path.endsWith('/')) path = path.slice(0, -1);
    
    var site = `${newSite}/${path}`;
    if (site.startsWith('/')) site = site.slice(1)
    if (site.endsWith('/')) site = site.slice(0, -1)

    var query = location.search
    
    location.replace(`${site}${query}`);
</script>