---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/work/birds-are-essential-for-out-environment"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>Birds are Essential for out Environment | Graphics For Good</title>
    <meta type="description" content="Birds are Essential for out EnvironmentClient:Club Infographic PostersYear:23-24Designer 1:IsabelleDesigner 2:​​PreviousNext" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>