---
var newSite = 'https://graphics-for-good.wixsite.com/graphics-for-good'

var path = "/work/save-buttons"
if (path) newSite += path

const scriptTag = `<script>var newSite = '${newSite}'</script>`;
---
<head>
    <title>Graphics for Good</title>
    <meta http-equiv="refresh" content={`1; url=${newSite}`}>
    <title>S.A.V.E. Buttons | Graphics For Good</title>
    <meta type="description" content="S.A.V.E. ButtonsClient:S.A.V.E.Year:24-25Designer 1:MayaDesigner 2:Tyler​PreviousNext" />
    <link rel="icon" href="https://www.wix.com/favicon.ico" />
</head>
<body set:html={scriptTag} />
<script>
    if (newSite.startsWith('/')) newSite = newSite.slice(1)
    if (newSite.endsWith('/')) newSite = newSite.slice(0, -1)

    var query = location.search
    
    location.replace(`${newSite}${query}`);
</script>